:root {
  --primary-color: white;
  --secondary-color: #818cab;
  --font-color: white;
  --bg-color: rgb(41, 41, 40);
  --bg-color-dec: 41, 41, 40;
  --heading-color: #818cab;
  --invert: 1;
  --opacity: 1;
}

[data-theme="light"] {
  --primary-color: white;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: rgb(255, 255, 255);
  --bg-color-dec: 255, 255, 255;
  --heading-color: #292922;
  --invert: 0;
  --opacity: 0.5;
}

* {
  color: var(--font-color)
}

body {
  background: var(--bg-color);
  margin: 0;
  font-family: open sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  max-width: 80em;
  margin: 4em auto;
  padding: 0 2em;
}

p {
  line-height: 2em;
}

.App {
  text-align: center;
}

.profile-img-section {
  margin: 5vh 0;
}

.profile-img {
  height: 20vmin;
  pointer-events: none;
  object-fit: cover;
  max-height: 40vh;
  filter: grayscale(1);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.nav-link {
  margin: 0 10px;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
}

.divider {
  border-bottom: 1px solid lightgray;
  width: 70%;
  margin: 0 auto;
}

#defaultCanvas0 {
  filter: opacity(var(--opacity)) invert(var(--invert));
  position: absolute;
  top: 0;
  left: 0;
}

.img-btn {
  filter: invert(var(--invert));
  cursor: pointer;
}

.greetings-container {
  transition: transform 0.5s ease;
}

canvas {
  z-index: 0;
}

header {
  z-index: 1;
  position: relative;
  height: 240px;
}

.trophy {
  position: absolute;
  top: 55;
  left: 10;
  z-index: 1;
  opacity: 0;
  transition: opacity 4s ease;
}

#leaderboard {
  position: fixed;
  flex-direction: column;
  height: 240px;
  max-height: 240px;
  width: 170px !important;
  top: 0;
  margin: 0 auto;
  transition: all 0.5s ease;
  transform: translateX(-500px);
  background: var(--bg-color);
  z-index: 1;
  box-shadow: 3px 1px 20px 7px #0000002e;
  display: flex;
  justify-content: space-around;
}

#leaderboard td {
  font-size: 11px;
  padding-left: 14px;
}

#leaderboard > form {
  margin-bottom: 0px;
}

#leaderboard input {
  text-align: center;
  width: 170px !important;
  color: black;
}

#leaderboard > b {
  margin-top: 10px;
}

.projects-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.projects-item {
  display: flex;
  width: 100px;
  padding: 10px;
  transition: all 0.5s ease;
  transform: scale(1);
  background: var(--bg-color);
  opacity: 1;
  border-radius: 10px;
  box-shadow: 3px 4px 11px 3px #0000000f;
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
}

iframe.dark {
  /* filter: invert(calc(var(--invert) - 0.2)); */
  filter: invert() hue-rotate(180deg) contrast(70%);
}

.sc-artwork {
  filter: invert(0) !important;
}

.overlay {
  width: 70%;
  height: 80%;
  position: fixed;
  z-index: 999;
  top: 0;
  opacity: 0;
  transition: opacity 0.125s ease;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(var(--bg-color-dec), 0.95);
  padding: 12px;
  box-shadow: 3px 4px 11px 3px #0000000f;
  overflow-x: hidden;
  overflow-y: auto;
}